# JWT Secret for authentication
JWT_SECRET="super-secret-key-change-me"

# MongoDB connection string
# Local: mongodb://localhost:27017/edusched
# Atlas: mongodb+srv://user:pass@cluster.mongodb.net/edusched
MONGODB_URI="mongodb+srv://karansharma042006_db_user:LlSS8SJlGcUoqU4D@cluster0.fvkomlt.mongodb.net/"
